<!doctype html>

<html>
<head>
     <title>Squashed Orange</title>
<style>
.topnav {
  overflow: hidden;
  background-color: #4e4652;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #f9b233;
  color: white;
}
     </style>
<style>
body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #575757;
  background: #f7c783;
}
     </style>
</head>
<div class="topnav">
  <a href="home"><a href="{{ url_for('home') }}">Home</a>
  <a class="active" href="squashedorange"><b>Squashed Orange</b></a>
  <a href="contact"><a href="{{ url_for('contact_thing') }}">Contact me</a>
  <a href="about"><a href="{{ url_for('about_thing') }}">About</a>
</div>
     <body> <p><h1><a href="https://squashedorangedeveloper.wordpress.com">Click to follow to Squashed Orange developer website</a></h1></p>

  <a href="https://squashedorangedeveloper.wordpress.com"><img src="https://squashedorangedeveloper.files.wordpress.com/2020/05/final-so.png" alt="Squashed Orange"/></a>
  <p><iframe height="800" width="450" src="https://bot.dialogflow.com/7fdde219-7acf-4f23-902e-331f1a2a9094"></iframe></p>
 
</body>
</html>
